.ai-disclaimer-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.ai-disclaimer-container {
	display: flex;
	max-width: 738px;
	padding: 24px;
	margin: 24px 0;
	gap: 10px;
	align-items: flex-start;
	border-radius: 20px;
	background: #f9f9f9;
}

[data-theme="dark"]:root .ai-disclaimer-container {
	background: #5d5a59;
}

.ai-disclaimer-icon {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.ai-disclaimer-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	flex: 1 0 0;
}

.ai-disclaimer-title {
	align-self: stretch;
	color: #2d333e;
	margin-top: 2px;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

[data-theme="dark"]:root .ai-disclaimer-title {
	color: #dbd9d7;
}

.ai-disclaimer-description {
	color: #2d333e;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

[data-theme="dark"]:root .ai-disclaimer-description {
	color: #dbd9d7;
}
