@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff4702;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-height: 5rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #ff4702;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar .navbar__item {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
}

a[docid="docs"] > svg {
  display: none;
}

/* Adjustments for mobile view */
@media (max-width: 768px) {
  /* Reduce the logo size for smaller screens */
  .navbar__logo img {
    height: 32px;
    align-items: center;
  }

  /* Reduce the padding around the logo for smaller screens */
  .navbar__logo {
    padding: 2px; /* Adjust the padding for smaller screens */
  }
}

/* Center the Discord link within its parent */
.navbar__items.navbar__items--right {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  a.navbar__item.navbar__link[docid="docs"] {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  a.navbar__item.navbar__link[href="https://blog.coderabbit.ai/blog"]
  {
    display: none;
  }
}

[data-theme="light"] img[src$="#gh-dark-mode-only"],
[data-theme="dark"] img[src$="#gh-light-mode-only"] {
  display: none;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
