.blogCard {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 1rem;
}

.card {
	/* border: 2px solid #e7e7e7; */

	/* border-radius: 4px; */

	padding: 0.5rem;
}
